<!DOCTYPE html>
<html lang="en">
<head>
	
   <title>Book a Tutor | Expert Online and In-person Tutors | Apex Academic Centre</title>
   <meta name="description" content="Get personalized tutoring with Apex Academic Centre's expert online and in-person tutors. Book your tutor today!">
	    
	    <!-- SEO Image -->
   <link rel="icon" href="seo_logo.jpeg" sizes="50x50" type="image/x-icon">

	    <!--Google console-->
	<meta name="google-site-verification" content="ATCSIq8W4vtSGUZULJicjWYD6j6kdAYmCwpGtxPcUVM" />

	 <!-- Open Graph Protocol (Facebook, LinkedIn) -->
	<meta property="og:title" content="Book a Tutor | Expert Online and In-person Tutors | Apex Academic Centre">
	<meta property="og:description" content="Get personalized tutoring with Apex Academic Centre's expert online and in-person tutors. Book your tutor today!">
	<meta property="og:image" content="https://bookatutorapexacademiccentre.co.za/seo.jpeg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:url" content="https://bookatutorapexacademiccentre.co.za/">
	<meta property="og:type" content="website">

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Book a Tutor | Expert Online and In-person Tutors | Apex Academic Centre">
	<meta name="twitter:description" content="Get personalized tutoring with Apex Academic Centre's expert online and in-person tutors. Book your tutor today!">
	<meta name="twitter:image" content="https://bookatutorapexacademiccentre.co.za/seo.jpeg">

	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" as="style" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

		<link rel="preload" href="/css/ApexIndex.css" as="style" />
		<link rel="stylesheet" href="/css/ApexIndex.css" th:href="@{/css/ApexIndex.css}" />
		<link rel="preload" href="/css/BookingForms.css" as="style" />
		<link rel="stylesheet" href="/css/BookingForms.css" th:href="@{/css/BookingForms.css}" media="(min-width: 1024px)" />
		<link rel="preload" href="/css/ApexResponsive.css" as="style" />
		<link rel="stylesheet" href="/css/ApexResponsive.css" th:href="@{/css/ApexResponsive.css}" />

</head>
<body>
	
	<nav class="navbar">

	    <img src="/images/ApexLogo.png" alt="Logo" loading="lazy" class="logo" id="logo_image">
	    <button class="navbar-toggle" id="navbar-toggle">
	        <i class="fas fa-bars"></i> <!-- Hamburger icon -->
	    </button>
	    <ul class="nav-links">
	        <li><a href="https://www.apexacademiccentre.co.za/">Home</a></li>
	        <li class="dropdown">
	            <a href="#" class="dropbtn">Tutoring <i class="fas fa-chevron-down"></i></a>
	            <div class="dropdown-content">
	                <a href="https://www.apexacademiccentre.co.za/online-tutoring/">Online Tutoring</a>
	                <a href="https://www.apexacademiccentre.co.za/in-person-tutoring/">In Person Tutoring</a>
	                <a href="https://www.apexacademiccentre.co.za/matric-rewrite-2025/">Matric Re-Write</a>
	                <a href="https://www.apexacademiccentre.co.za/special-needs-tutoring/">Special Need Tutoring</a>
	                <a href="https://www.apexacademiccentre.co.za/cambridge-tutoring/">Cambridge Tutoring</a>
	                <a href="https://www.apexacademiccentre.co.za/university-college-tutors/">University/ College
	                    Tutors</a>
	                <a href="https://www.apexacademiccentre.co.za/pearson-edexcel-tutoring/">Person Edexcel Tutoring</a>
	            </div>
	        </li>
	        <li class="dropdown">
	            <a href="#" class="dropbtn">Online Classes <i class="fas fa-chevron-down"></i></a>
	            <div class="dropdown-content">
	                <a href="https://www.apexacademiccentre.co.za/mathematics-online-class/">Mathematics Online Class</a>
	                <a href="https://www.apexacademiccentre.co.za/matric-rewrite-2025/">Matric Rewrite 2025</a>
	            </div>
	        </li>
	        <li><a href="https://www.apexacademiccentre.co.za/homeschooling-support/">Homeschooling</a></li>
	       
	        <li><a href="https://www.apexacademiccentre.co.za/resources/">Resources</a></li>
	        <li><a href="https://www.apexacademiccentre.co.za/contact-us/">Contact</a></li>
	       <!--  <li>            
	            <div class="search-container">
	            <input type="text" id="search-input" placeholder="Search...">
	            <button id="search-button">
	                <i class="fas fa-search search-icon"></i>
	            </button>
	            </div>
	        </li> -->

	        <li>
	            <button id="tutorBtn" onclick="openOpenopen()">BOOK TUTOR</button>

	        </li>
	    </ul>
	</nav>
	
	<section class="main-section">

	        <section class="main-class">
	            
				<h2 id="tutorHead" align="center">Apex Academic Centre Tutors</h2>
				<p id="tutorPar" align="center">These are the Highest Quality Online and In-person Tutors. Get your personalized tutor anywhere in South Africa and Internationally.</p>
	            <button id="tutorBtnClass" onclick="openOpenopen()">BOOK TUTOR</button>
	            <br>
	          		
			</section>

	        <!--SEARCH ENGINE-->
	        <div class="welcome-hero-serch-box">
	            <div class="welcome-hero-form">
	                <div class="single-welcome-hero-form">
	                    <input type="text" placeholder="Location / Area" id="eng-location" class="engine-input" />
	                </div>
	                <div class="single-welcome-hero-form">
	                    <input type="text" placeholder="Subject" id="eng-subject" class="engine-input"/>
	                </div>
	                <div class="single-welcome-hero-form">
	                    <input type="text" placeholder="Curriculum" id="eng-curriculum" class="engine-input"/>
	                </div>
	                <div class="single-welcome-hero-form" id="last-input">
	                    <input type="text" placeholder="Tutoring option" id="eng-tutoring" class="engine-input"/>
	                </div>
	                <div class="welcome-hero-serch">
	                    <button class="welcome-hero-btn" onclick="checkInputs()">
	                        <i class="fas fa-search" style="margin-right: 5px;"></i> <!-- Font Awesome search icon -->
	                        Search
	                    </button>
	                </div>
	            </div>
	        </div>
	        <br>
				
	
	
	<div  class="tutor-wrapper" >
		<!-- Container for images -->
		<div class="image-wrapper">
		    <img src="/images/apex_child.jpeg" loading="lazy" alt="Image 1" class="image image1">
		    <img src="/images/In-person Tutor & Student Apex Academic Centre.jpg" loading="lazy" alt="Image 2" class="image image2">  
		</div>
		<div class="whatsapp-wrapper">
		      <a href="https://wa.me/27840488881?text=Hi%20*Apex%20Academic%20Centre*!%20I%20need%20more%20info%20about%20Apex%20Academic%20Centre%20https://www.apexacademiccentre.co.za" target="_blank" class="whatsapp-icon">
		        <i class="fab fa-whatsapp" style="font-size: 40px; color: #fff; "></i> 
		       </a>
		</div>
		
		<!--Tutor Container Here-->
		<div class="tutor-container" >
			
			<div class="tutor" th:each="tutor : ${user}">
			    <div class="top">
			        <div class="row">
			        <div class="profile">
						<img th:src="@{/images/{filename}(filename=${tutor.fullNames.replace(' ', '') + '.' + (tutor.imageBase64 == 'jpeg' ? 'jpeg' : 'png')})}" alt="Tutor Image"  loading="lazy" />
			        </div>
			        <div class="details">
			            <p>
			                <span class="static-text" id="tutorNameDisplay"><strong th:text="${tutor.fullNames}"></strong></span><br><br>
			                <span class="static-text">Country :</span> <span class="detail-info" th:text="${tutor.country}"></span><br>
							<span th:if="${tutor.country == 'South Africa'}">
							    <span class="static-text">Province :</span> <span class="detail-info" th:text="${tutor.address}"></span><br>
							</span>
							<span th:unless="${tutor.country == 'South Africa'}">
							    <span class="static-text">International</span><br>
							</span>
			                <span class="static-text">Area :</span> <span class="detail-info"th:text="${tutor.area}"></span><br>
			                <span class="static-text">Curriculum :</span> <span class="detail-info" th:text="${tutor.syllabus}"></span><br>
			                <span class="static-text">Tutoring Option :</span> <span class="detail-info"th:text="${tutor.availability}"></span>
			            </p>
			        </div>
			    </div>
			        <div class="feedback">
			           <div class="feedback-item">
			               <br>
			            </div>
			            <div class="ratings">
			               <i class="fas fa-star" id="rate-icon"></i>
			               <span id="rate" th:text="${tutor.ratings}"></span>
			            </div>
			            <div class="feedback-item">
			                <i class="fas fa-check-circle" id="back-icon"></i>
			                <span class="back">Background Checked</span>
			            </div>
			        </div>
			    </div>

			    <!--Middle Div Start HERE-->

		   <div class="last">
			        <div class="grades">
			            <h4>Grades</h4><br>
						<div class="inside">
							<th:block th:each="grd : ${#strings.setSplit(tutor.grades, ',')}">
							   <p th:text="${grd}"></p>
						    </th:block>
						</div>
			        </div>
			     	<!--User Detail-->
				  <div class="user-details">
			            <div class="about lazy-load" th:text="${tutor.hoursTutored}"></div>
			            <br>
			            <div class="subjects">
			                <span class="hidSubjects">Subjects</span>
							<th:block th:each="subject : ${#strings.setSplit(tutor.subjects, ',')}">
							   <p th:text="${subject}"></p>
							</th:block>
			                <br><br>
			            </div>
			        </div>
					<!--Buttons-->
					<div class="book-view">
					    <form action="/view-profile" method="get" id="profileForm1">
					        <input type="hidden" id="encryptedEmail1" name="email" th:value="${tutor.email}"/> 
					        <div class="repoStyle">
					            <button type="submit" class="view_pp">
					                VIEW PROFILE
					            </button>
					            <button type="button"  class="bk_tutor">
					                BOOK TUTOR
					            </button>
					        </div>
					    </form>
					    <br>
					</div>
			       </div>
			    <br>
			    <br>
			</div>
		</div>
		
		
		<!-- Pagination -->
		<div th:if="${totalItems > 0}">
		    <div class="paginat">
		        
		        <!-- Previous Page Button -->
		        <a th:href="@{/tutors-{page}(page=${currentPage - 1})}" 
		           th:classappend="${currentPage > 1 ? '' : 'disabled'}" 
		           class="prev">
		            <i class="fas fa-arrow-left"></i>
		        </a>

		        <!-- Page Number Links -->
		        <span th:each="i : ${#numbers.sequence(pageStart, pageEnd)}">
		            <span th:classappend="${i == currentPage ? 'current' : ''}" class="page-number">
		                <a th:href="@{/tutors-{page}(page=${i})}" th:text="${i}"></a>
		            </span>
		        </span>

		        <!-- Next Page Button -->
		        <a th:href="@{/tutors-{page}(page=${currentPage + 1})}" 
		           th:classappend="${currentPage < totalPages ? '' : 'disabled'}" 
		           class="next">
		            <i class="fas fa-arrow-right"></i>
		        </a>

		    </div>
		</div>

	</div>
	
	</section>


</body>
</html>



